<header class="main-header">
  <nav class="main-nav">
    <ul class="menu">
      <li class="menu-item"><a href="/frontend/pages/index.html">Inicio</a></li>
      <li class="menu-item"><a href="/frontend/pages/hotel.html">Hotel</a></li>
      <li class="menu-item"><a href="/frontend/pages/about.html">Nosotros</a></li>
      <li class="menu-item"><a href="/frontend/pages/blog.html">Blog</a></li>
      <li class="menu-item"><a href="/frontend/pages/contact.html">Contacto</a></li>
    </ul>
  </nav>
</header>
